@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

/*===== 背景動画設定のCSS =====*/

/* header設定 */
#header {
  /* ローディング画像などを表示す際の基点とするため指定 */
  position: relative;
  /* 高さを全画面にあわせる */
  height: 100vh;
  text-align: center;
  color: #fff;
  /* ローディング画面時＆動画が表示されないときに表示する背景画像のレスポンシブ化 */
  background: url("../img/Ejpg.jpg") no-repeat;
  background-size: cover;
  
}

/*  ローディングアイコン設定  */
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/* jQueryで付与されたdisappearクラスがついたらロゴエリアを非表示 */
#loading.disappear {
  display: none;
}

/*  youtube設定  */
#youtube-area {
  position: fixed;
  z-index: 1;
  /* 最背面に設定 */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0;
}

/* jQueryで付与されたappearクラスがついたらYoutubeエリアをふわっと表示 */
#youtube-area.appear {
  animation-name: PageAnimeAppear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#youtube {
  /* 天地中央配置 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 縦横幅指定 */
  /*  16:9 の幅 → 16 ÷ 9＝ 177.77%  */
  width: 177.77777778vh;
  /*  16:9の幅 → 9 ÷ 16 = 56.25%  */
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}

/* youtubeがクリックされないためのマスク */
#youtube-mask {
  position: absolute;
  /* 下から2番目に表示 */
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
}

/* youtube 上のロゴ  */
h1 {
  position: absolute;
  /* 下から2番目に表示 */
  z-index: 2;
  /* 天地中央配置 */
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* 色指定 */
  color: #fff;
  text-shadow: 0 0 15px #666;
}

/* 下のコンテンツ */
#container {
  /* relativeを指定してfixed指定をした#youtube-areaの上に表示 */
  position: relative;
  /* 一番上に表示 */
  z-index: 3;
  /* 見た目の調整 */
  background: #a50303;
  color: #fff;
  padding: 300px 0;
  opacity: 0.7;
}

@import "https://unpkg.com/ress/dist/ress.min.css";
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
 
body {
  font-size:1.6em;
  line-height: 1;
}
img{
  max-width: 100%;
}
header{
  position: relative;
  height: 100vh;
  background: url("https://placehold.jp/3d4070/ffffff/1920x1080.png?text=%E8%83%8C%E6%99AF%E7%94%BB%E5%83%8F&css=%7B%22font-size%22%3A%22%2060px%22%7D")
  center / cover no-repeat;
}
 
 
header span{
display: block;
width: fit-content;
font-weight: bold;
padding: 0.25em 40px;
}
 
header .course {
font-size: 1em;
background: #fff;
margin-bottom: 1em;
}
header .name{
  font-size: 3em;
  background: #212121;
  color: #fff;
}
 
.profile {
  width: 1000px;
  margin: auto;
}
 
.profile dl {
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.8;
}
.profile dt {
  margin-right: 4em;
}
 
article {
  padding: 100px 0;
}
 
section {
  width: 1000px;
margin: 40px auto;
}
 
.intro:first-of-type {
  padding-top: 100px;
  margin-top: 100px;
  border-top: 1px solid #212121;
}
 
.intro h2 {
  width: fit-content;
  font-size: 2em;
  padding: 0.25em 1em;
background: #212121;
color: #fff;
font-weight: normal;
}
 
.intro h3 {
font-size: 1.5em;
margin-top: 1.5em;
margin-bottom: 1em;
}
 
.intro p {
  line-height: 1.5;
}
 
.img-divider {
  display: block;
  max-width: 1200px;
  margin: auto;
}
 
.concern {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  margin-top: 100px;
  border-top: 1px solid #212121;
}
 
.concern h2 {
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}
 
.concern h2 span {
  margin-left: 2em;
  font-size: 0.8em;
}
 
.concern figure {
  width: 32%;
  position: relative;
}
 
.concern figcaption {
  position: absolute;
  bottom: 1em;
  left: 0;
  padding: 0.25em 1em;
  background: #212121;
  color: #fff;
}
 
.concern img {
  width: 320px;
  height: 640px;
  object-fit: cover;
}
 
footer {
  text-align: center;
  background: #212121;
  color: #fff;
  padding: 20px 0;
}
